body{
    border: 5px solid blue;
    height: 1000px;
    width: 1500px;
}
.con{
    border: 8px solid green;
    height: 300px;
    width: 400px;
    background-color: azure;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.water{
    border: 8px solid blue;
    height: 300px;
    width: 400px;
    /* background-color: azure; */
    /* padding: 20px; */
    margin-top: 20px;
 
}
.elsa{
    border: 8px solid pink;
    height: 285px;
    width: 385px;
    background-color: azure;
}
.block{
    background-color: darkorchid;
    color: white;
    margin-top: 10px;
}
.circle{
    border: 6px solid greenyellow;
    background-color: bisque;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    margin-top: 25px;
}